*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container{
  height: 300px;
  width: 300px;
  background-color: #141414;
  border-radius: 50%;
  border: 4px solid #747171;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transform: scale(3);
}
.center{
  height: 20px;
  width: 20px;
  background-color: #747171;
  border-radius: 50%;
  z-index: 99;
}
.second-container{
  width: 3px;
  height: 250px;
  position: absolute;
  z-index: 9;
}
.second{
  width: 100%;
  height: 50%;
  background-color: brown;
}

/* minute */
.minute-container{
  width: 5px;
  height: 200px;
  position: absolute;
  z-index: 8;
}
.minute{
  width: 100%;
  height: 50%;
  background-color: cadetblue;
}

/* hour */
.hour-container{
  width: 7px;
  height: 150px;
  position: absolute;
  z-index: 7;
}
.hour{
  width: 100%;
  height: 50%;
  background-color: cadetblue;
}

span{
  height: 20px;
  width: 3px;
  background-color: brown;
  position: absolute;
  font-size: 2em;
  color: cadetblue;
}
span:nth-child(1) {
  top: -5px;
  left: 132px;
  height: 20px;
  background: none;
}
span:nth-child(2) {
  top: 18px;
  left: 213px;
  transform: rotate(30deg);
}
span:nth-child(3) {
  top: 68px;
  left: 263px;
  transform: rotate(60deg);
}
span:nth-child(4) {
  top: 127px;
  left: 286px;
  transform: rotate(90deg);
  background: none;
}
span:nth-child(5) {
  top: 204px;
  left: 263px;
  transform: rotate(120deg);
}
span:nth-child(6) {
  top: 254px;
  left: 213px;
  transform: rotate(150deg);
}
span:nth-child(7) {
  top: 278px;
  left: 153px;
  transform: rotate(180deg);
  background: none;
}
span:nth-child(8) {
  top: 254px;
  left: 77px;
  transform: rotate(210deg);
}
span:nth-child(9) {
  top: 205px;
  left: 26px;
  transform: rotate(240deg);
}
span:nth-child(10) {
  top: 144px;
  left: 3px;
  transform: rotate(270deg);
  background: none;
}
span:nth-child(11) {
  top: 68px;
  left: 27px;
  transform: rotate(300deg);
}
span:nth-child(12) {
  top: 18px;
  left: 77px;
  transform: rotate(330deg);
}